@model AssignmentManager.Data.Models.Class

@{
    ViewData["Title"] = "Create";
}

<script>
    const scheduleTab = document.getElementsByClassName("nav_list__li--schedule")[0];
    const classesTab = document.getElementsByClassName("nav_list__li--classes")[0];

    classesTab.classList.add("nav_list__li--active");
</script>

<link rel="stylesheet" href="/css/classes/create.css" />

<h2>Create Class</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorId" class="control-label"></label>
                <input asp-for="ColorId" class="form-control" />
                <span asp-validation-for="ColorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a class="btn btn-info" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}