@model AssignmentManager.Web.ViewModels.Class.ClassDetailsViewModel

@{
    ViewData["Title"] = "Remove Class";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/css/classes/delete.css" />

<script>
    const scheduleTab = document.getElementsByClassName("nav_list__li--schedule")[0];
    const classesTab = document.getElementsByClassName("nav_list__li--classes")[0];

    classesTab.classList.add("nav_list__li--active");
</script>


<h1 class="main_title">Are you sure you want to delete this class?</h1>
<h1 class="class_name">@Html.DisplayFor(model => model.Name)</h1>

<form asp-action="Delete" class="answer_container">
    <button type="submit" value="Delete" class="choose_btn">YES</button>
    <a asp-action="Index">
        <div class="choose_btn">NO</div>
    </a>
</form>

