@{
    ViewData["Title"] = "Details";
}

<script>
    const scheduleTab = document.getElementsByClassName("nav_list__li--schedule")[0];
    const classesTab = document.getElementsByClassName("nav_list__li--classes")[0];

    classesTab.classList.add("nav_list__li--active");
</script>

<link rel="stylesheet" href="/css/classes/details.css" />

<h1>Details</h1>

