@{
    ViewData["Title"] = "Welcome";
    Layout = null;
}
<link rel="stylesheet" href="/css/classes/welcome.css" />

<h1 class="welcome">Welcome!</h1>
<p class="instructions">To begin create a class and add <br> an assignment with the ‘+’ icon.</p>

<img class="arrow__svg" src="/content/go.svg">

<img class="plus__svg" src="/content/plus.svg">

<div class="wave"></div>

<div class="okay__container">
    <p class="okay__text">OKAY</p>
</div>

