@{
    ViewData["Title"] = "Welcome";
    Layout = null;
}
<link rel="stylesheet" href="/css/classes/welcome.css" />
<div class="welcome">
    <h1 class="welcome__title">Welcome!</h1>
    <p class="welcome__text">To begin create a class and add <br> an assignment with the ‘+’ icon.</p>
</div>

<img class="arrow_graphic" src="/content/go.svg">

<img class="add_class_graphic" src="/content/plus.svg">

<div class="bottom_wave">
    <a href="#">
        <div class="okay_btn">OKAY</div>
    </a>
</div>


