<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AssignmentManager</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
</head>
<body>
    <header>
        <a asp-area="" asp-controller="Assignments" asp-action="Index">
            <div class="header__logo_img_txt">
                <img src="/content/logoImg.svg" alt="">
                <span>ASSIGNMENT<br>MANAGER</span>
            </div>
        </a>
        <nav>
            <ul>
                <li class="nav_list__li nav_list__li--schedule">
                    <a asp-area="" asp-controller="Assignments" asp-action="Index">SCHEDULE</a>
                </li>
                <li class="nav_list__li nav_list__li--classes">
                    <a asp-area="" asp-controller="Classes" asp-action="Index">CLASSES</a>
                </li>
            </ul>
        </nav>

        @*        <img class="menu_btn" src="/content/headerMobileMenu.svg" />
        *@
    </header>




    <img class="background-corner" src="/content/layoutCorner.svg">



















    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    @*
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    *@
    <script src="/js/misc.js" asp-append-version="true"></script>
    <script src="/js/layout.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
