@{
    ViewBag.Title = "Not Found";
}

<link rel="stylesheet" href="/css/shared/notFound.css" />

<h1 class="error_number">404</h1>
<h2 class="error_description">Page not found</h2>



<a class="to_homepage_anchor" asp-action="Index" asp-controller="Assignments">
    <div class="to_homepage">TO HOMEPAGE</div>
</a>