@{
    ViewData["Title"] = "Redirect";
}

<meta http-equiv="refresh" content="0; url = /Assignments" />
<h1 style="margin: 40vh auto auto auto; text-align: center; width: 220px; font-weight: 500; color: #222222">Redirecting...</h1>