/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

header {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-image: url("/content/headerWave.svg");
  background-repeat: repeat-x;
}
header a .header_logo {
  position: absolute;
  width: 230px;
  margin: 10px 0 0 25px;
}
header a .header_logo img {
  height: 75px;
}
header a .header_logo span {
  position: absolute;
  margin: 7px 0 0 13px;
  color: #ffffff;
  font-size: 1.35rem;
  font-weight: 500;
}
header .mobile_header_title {
  display: none;
  text-transform: uppercase;
}
header .mobile_header_back_btn {
  display: none;
}
header nav {
  margin: 30px 0 0 25px;
}
header nav ul {
  position: absolute;
  right: 0;
  padding: 0 5% 0 0;
}
header nav ul .nav_option--active a::after {
  width: 100%;
  opacity: 100%;
  transition: 0s;
}
header nav ul li {
  display: inline;
}
header nav ul li a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  margin: 0 2rem;
  font-size: 1.3rem;
  font-weight: 500;
}
header nav ul li a::after {
  content: "";
  position: absolute;
  background: #ffffff;
  bottom: -4px;
  left: 0;
  height: 0.15rem;
  width: 0%;
  opacity: 75%;
  transition: 0.2s;
  border-radius: 10px;
}
header nav ul li a:hover::after {
  width: 100%;
}
header .mobile_menu {
  display: none;
}

main {
  margin: 150px 0 0 0;
}

.corner_graphic {
  z-index: -1;
  position: fixed;
  bottom: 0;
  left: 0;
}

.corner_graphic_mobile {
  display: none;
}

@media (max-width: 610px) {
  header {
    position: fixed;
    height: 70px;
  }
  header a .header_logo {
    display: none;
  }
  header .mobile_header_title {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 70px;
    color: white;
    padding: 0 65px 0 65px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  header .mobile_header_title--left {
    text-align: left;
  }
  header .mobile_header_back_btn {
    display: block;
    position: absolute;
    height: 35px;
    margin: 18px 0 0 25px;
  }
  header .mobile_header_back_btn--disable {
    display: none;
  }
  header nav ul li {
    display: none;
  }
  header .nav--mobile {
    margin: 0;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
  }
  header .nav--mobile ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  header .nav--mobile ul li {
    display: block;
  }
  header .nav--mobile ul li a {
    margin: 0;
    color: #222222;
    font-size: 2rem;
  }
  header .nav--mobile ul li a::after {
    background: #222222;
  }
  header .nav--mobile ul li a:hover {
    color: #006FBB;
  }
  header .mobile_menu {
    display: block;
    position: absolute;
    height: 35px;
    right: 0;
    top: 0;
    margin: 13.5px 20px 0 0;
    cursor: pointer;
  }
  header .mobile_menu .menu_line {
    width: 36px;
    height: 4.5px;
    background-color: #FFFFFF;
    border-radius: 2px;
    margin: 7.5px;
    transition: 0.2s;
  }
  header .mobile_menu--active .menu_line:nth-child(1) {
    background-color: #222222;
    -webkit-transform: rotate(-45deg) translate(-7.5px, 9px);
    transform: rotate(-45deg) translate(-7.5px, 9px);
  }
  header .mobile_menu--active .menu_line:nth-child(2) {
    opacity: 0;
  }
  header .mobile_menu--active .menu_line:nth-child(3) {
    background-color: #222222;
    -webkit-transform: rotate(45deg) translate(-7.5px, -13.5px);
    transform: rotate(45deg) translate(-7.5px, -9px);
  }

  main {
    margin: 70px 0 0 0;
  }

  .corner_graphic {
    display: none;
  }
  .corner_graphic_mobile {
    display: block;
    height: 50%;
    z-index: -1;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: filter 0.3s ease-in;
  }
  .corner_graphic_mobile--emerge {
    filter: saturate(50%);
    z-index: 100;
  }
}
