@{
    ViewData["Title"] = "Assignment Details";
}
<link rel="stylesheet" href="/css/assignments/details.css" />

<script>
    const scheduleTab = document.getElementsByClassName("nav_list__li--schedule")[0];
    const classesTab = document.getElementsByClassName("nav_list__li--classes")[0];

    scheduleTab.classList.add("nav_list__li--active");
</script>

<h1>Details</h1>

