@{
    ViewData["Title"] = "Assignment Details";
}
<link rel="stylesheet" href="/css/assignments/details.css" />

<script>
    const scheduleTab = document.getElementsByClassName("nav_list__li--schedule")[0];
    const classesTab = document.getElementsByClassName("nav_list__li--classes")[0];

    scheduleTab.classList.add("nav_list__li--active");
</script>

<h1 class="main_title">Title</h1>
<span class="subtitle">Physics</span>
<span class="subtitle">Due 22/02/2022</span>
<div class="divider"></div>
<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id efficitur magna, vitae finibus tortor. Nunc vestibulum vehicula fringilla. Nunc tristique ante id orci porta semper. Phasellus elementum dignissim auctor. Aliquam molestie tellus a pellentesque efficitur. Phasellus condimentum dolor magna, in aliquam justo dapibus vel. Donec quis vulputate est. Suspendisse nec elit vulputate, maximus sem ac, pretium nisi. Etiam vitae efficitur purus. Donec non lacinia tellus. Donec eros arcu, facilisis sed nisi congue, efficitur viverra nisi. Maecenas in libero mauris. Quisque molestie est a sagittis tincidunt.</p>


<a asp-action="" asp-route-id="">
    <div class="complete_assignment">
        <span>COMPLETE</span>
    </div>
</a>

<a asp-action="Edit" asp-route-id="">
    <div class="edit_assignment">
        <img src="/content/edit.svg" />
    </div>
</a>