.main_title {
    padding: 50px 0 50px 0;
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
    color: #222222
}

.create_assignment {
    width: 700px;
    height: 350px;
    margin: auto;

    .form_label {
        display: block;
        color: rgba(0, 0, 0, 0.45);
        font-size: 1.1rem;
        font-weight: 500;
    }

    .form_input {
        border: none;
        border-bottom: solid 2px rgba(0, 0, 0, 0.2);
        font-size: 1.25rem;
        font-weight: 500;
        color: #222222;
        height: 35px;
        width: 220px;
        background: none;

        &:focus {
            outline: none;
            border-bottom: solid 2px rgba(0, 0, 0, 0.3);
        }

        option {
            font-weight: 500;
        }
    }

    &__l {
        width: 220px;
        height: 270px;
        float: left;

        &__name {
            display: block;
            float: left;
            height: 56px;
            margin: 3px 0 30px 0;
        }

        &__due_date {
            display: block;
            float: left;
            height: 60px;
            margin: 3px 0 30px 0;
        }

        &__class {
            display: block;
            float: left;
            height: 60px;
            margin: 3px 0 30px 0;
        }
    }

    &__description {
        padding: 0 0 0 40px;
        float: right;
        width: 480px;

        textarea {
            width: 430px;
            height: 214px;
            border: solid 2px rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            padding: 10px;
            font-size: 1.1rem;
            resize: none;
            font-weight: 500;
            color: #222222;
            margin: 3px 0 0px 0;
            overflow-y: scroll;
            scrollbar-color: #AFAFAF E0E0E0;
            scrollbar-width: thin;
            background: #ffffff;

            &:focus {
                outline: none;
                border: solid 2px rgba(0, 0, 0, 0.3);
            }
        }
    }

    .input-validation-error {
        border-bottom: solid 2px #D94C55 !important;
    }
}

.save {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    height: 75px;
    width: 75px;
    background: #006FBB;
    border-radius: 50%;
    cursor: pointer;
    border: none;

    img {
        width: 40px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
}

@media (max-width: 710px) {
    .main_title {
        display: none;
    }

    .create_assignment {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 330px;
        height: 660px;
        padding: 40px 0 0 0;

        &__l {
            width: 320px;

            .form_input {
                width: 320px;
            }

            &__name {
                float: none;
            }

            &__due_date {
                float: none;
            }

            &__class {
                float: none;
            }
        }

        &__description {
            padding: 0;
            width: 330px;
            textarea {
                width: 330px;
            }
        }
    }
}
