.main_title {
  padding: 50px 0 50px 0;
  text-align: center;
  font-weight: 500;
  font-size: 2.5rem;
  color: #222222;
}

.class_name {
  display: block;
  width: 500px;
  text-align: center;
  font-size: 2rem;
  margin: auto;
}

button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.answer_container {
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 100px;
}
.answer_container .choose_btn {
  margin: 75px;
  cursor: pointer;
  color: inherit;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-decoration: inherit;
  width: 200px;
  height: 100px;
  background-color: #006FBB;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

@media (max-width: 700px) {
  .main_title {
    padding: 70px 0 50px 0;
    text-align: center;
    font-size: 1.5rem;
    color: #222222;
  }

  .class_name {
    position: absolute;
    text-align: center;
    font-size: 2rem;
    left: 50%;
    transform: translate(-50%);
  }

  .answer_container {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 50px;
  }
  .answer_container .choose_btn {
    margin: 50px;
    cursor: pointer;
    color: inherit;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    text-decoration: inherit;
    width: 100px;
    height: 50px;
    background-color: #006FBB;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
  }
}
@media (max-width: 600px) {
  .main_title {
    padding: 100px 0 50px 0;
    text-align: center;
    font-size: 1.5rem;
    color: #222222;
  }

  .class_name {
    position: absolute;
    text-align: center;
    font-size: 2rem;
    left: 50%;
    transform: translate(-50%);
  }

  .answer_container {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 50px;
  }
  .answer_container .choose_btn {
    cursor: pointer;
    color: inherit;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    text-decoration: inherit;
    width: 100px;
    height: 50px;
    background-color: #006FBB;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
  }
}
