.main_title {
  padding: 50px 0 5px 0;
  text-align: center;
  font-weight: 500;
  font-size: 2.5rem;
  color: #222222;
  overflow-wrap: break-word;
}

.subtitle {
  display: block;
  margin: auto;
  width: 200px;
  text-align: center;
  color: #777777;
  font-size: 1rem;
  font-weight: 400;
}

.divider {
  width: 340px;
  margin: 15px auto 20px auto;
  height: 2px;
  background: rgba(0, 111, 187, 0.7);
}

.description {
  margin: auto;
  padding: 0 15px 0 15px;
  width: 340px;
  color: #222222;
  font-weight: 400;
  margin-bottom: 100px;
  overflow-wrap: break-word;
}
.description .no_description {
  display: block;
  margin: auto;
  width: 200px;
  text-align: center;
  color: #777777;
  font-size: 1.1rem;
  font-weight: 400;
}

.edit_assignment {
  position: fixed;
  right: 16rem;
  bottom: 2rem;
  height: 75px;
  width: 75px;
  background: #006FBB;
  border-radius: 50%;
}
.edit_assignment img {
  width: 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.complete_assignment {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  height: 75px;
  width: 200px;
  background: #006FBB;
  border-radius: 99px;
  text-align: center;
  line-height: 75px;
}
.complete_assignment span {
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff;
}
