.main_title {
    padding: 50px 0 50px 0;
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
    color: #222222
}

.assignments_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;

    &--overdue {
        margin: 0 0 15px 0;
    }

    &--upcoming {
        margin: 0 0 calc(2rem + 100px) 0;
    }

    .status_arrow {
        position: absolute;
        height: 79px;
        display: flex;
        align-items: center;
        padding: 0 530px 0 0;

        span {
            position: absolute;
            font-size: 1.2rem;
            font-weight: 600;
            color: #ffffff;
            left: 15px;
        }

        &--overdue {
            filter: hue-rotate(140deg);

            span {
                margin: 0 0 0 7px;
            }
        }
    }

    .assignment {
        position: relative;
        width: 340px;
        height: 76px;
        background-color: rgba(255, 255, 255, 0.65);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
        transition: transform .15s ease-in-out;

        &__color_tag {
            position: absolute;
            left: 0;
            width: 7px;
            height: 100%;
        }

        &__name {
            position: absolute;
            width: 270px;
            height: 2rem;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            left: 30px;
            top: 15px;
            font-size: 1.2rem;
            font-weight: 500;
            color: #222222;
        }

        &__due_date {
            position: absolute;
            left: 30px;
            bottom: 15px;
            font-size: 0.8rem;
            font-weight: 500;
            color: #777777;
        }

        &__arrow {
            position: absolute;
            transform: translate(0%, -50%);
            right: 20px;
            top: 50%;
            height: 22px;
        }

        &:hover {
            transform: scale(104%);
        }
    }

    .no_assignments {
        margin: 30px 0 0 0;
        width: 600px;
        display: flex;
        justify-content: center;
        gap: 50px;

        .blue_cat {
            width: 250px;
        }

        div {
            margin: 50px 0 0 0;

            h2 {
                font-size: 1.6rem;
                color: #222222;
                font-weight: 600;
                margin-bottom: 20px;
            }

            span {
                color: #222222;
                font-size: 1.4rem;
                font-weight: 500;
                line-height: 2.1rem;

                img {
                    width: 25px;
                    transform: translate(0, 20%);
                }
            }
        }
    }
}

.completed_assignments {
    position: fixed;
    right: 8rem;
    bottom: 2rem;
    height: 75px;
    width: 75px;
    background: #006FBB;
    border-radius: 50%;

    img {
        transform: translate(45%, 60%);
    }
}

.add_assignment {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    height: 75px;
    width: 75px;
    background: #006FBB;
    border-radius: 50%;

    &__line {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 7px;
        height: 40px;
        background: #ffffff;
        border-radius: 10px;

        &:nth-child(2) {
            width: 40px;
            height: 7px;
        }
    }
}



@media (max-width: 610px) {
    .main_title {
        display: none;
    }

    .assignments_container {
        padding: 0;
        gap: 0px;

        &--overdue {
            margin: 0;
        }

        &--upcoming {
            margin: 0 0 140px 0;
        }

        .status_arrow {
            position: static;
            height: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0 0 0 0;
            background: #006FBB;

            img {
                display: none;
            }

            span {
                position: relative;
                font-size: 1.3rem;
                font-weight: 500;
                color: #ffffff;
                left: 35px;
            }

            &--overdue {
                filter: hue-rotate(140deg)
            }

            &--upcoming {
                filter: hue-rotate(8deg)
            }
        }

        a {
            width: 100%;

            .assignment {
                width: 100%;
                height: 80px;
                box-shadow: none;

                &__color_tag {
                    width: 13px;
                }

                &__name {
                    font-size: 1.35rem;
                }

                &__due_date {
                    font-size: 0.8rem;
                }

                &__arrow {
                    transition: margin .15s ease-in-out;
                    right: 35px;
                }

                &:hover {
                    transform: none;

                    .class__arrow {
                        margin: 0 20px 0 0;
                    }
                }
            }
        }

        .no_assignments {
            margin: 10px 0 0 0;
            width: 250px;
            flex-direction: column-reverse;
            align-items: center;
        }
    }
}

@media (max-width: 710px ) and (min-width: 610px) {
    .assignments_container {
        .status_arrow {
            span {
                display: none;
            }
        }
    }
}
