.main_title {
    padding: 50px 0 50px 0;
    text-align: center;
    font-weight: 500;
    font-size: 2.5rem;
    color: #222222
}

.form_create_class {
    width: 300px;
    margin: auto;

    &_name {
        height: 60px;
        margin: 10px 0 30px 0;

        &__label {
            display: block;
            color: rgba(0, 0, 0, 0.45);
            font-size: 1.2rem;
            font-weight: 500;
        }

        &__input {
            border: none;
            border-bottom: solid 2px rgba(0, 0, 0, 0.2);
            font-size: 1.4rem;
            font-weight: 500;
            color: #222222;
            height: 35px;
            width: 300px;

            &:focus {
                outline: none;
                border-bottom: solid 2px rgba(0, 0, 0, 0.3);
            }
        }
    }

    &_color {
        &__label {
            height: 50px;

            label {
                display: block;
                color: rgba(0, 0, 0, 0.45);
                font-size: 1.2rem;
                font-weight: 500;
            }
        }

        &__input {
            margin: 0 0 0 0;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            input {
                position: absolute;
                top: 0;
                right: 0;
                opacity: 0;
            }

            .color_box {
                width: 67px;
                height: 67px;
                cursor: pointer;

                &:hover {
                    transform: scale(107%);
                }
            }

            input[type="radio"]:checked + label {
                background-image: url(/content/selectColorX.svg);
                background-repeat: no-repeat;
                background-position: center;
                border: 2px blue cornered;
            }
        }
    }

    .input-validation-error {
        border-bottom: solid 2px #D94C55 !important;
    }

    .validation_error {
        span {
           padding: 2px 0 0 0;
        }
    }
}

.save_class {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    height: 75px;
    width: 75px;
    background: #006FBB;
    border-radius: 50%;
    cursor: pointer;
    border: none;

    img {
        width: 40px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
}

@media (max-width: 610px) {
    .main_title {
        display: none;
    }

    .form_create_class {
        margin: 130px auto 0 auto;
    }
}
