.main_title {
  padding: 50px 0 50px 0;
  text-align: center;
  font-weight: 500;
  font-size: 2.5rem;
  color: #222222;
}

.classes_container {
  padding: 0 calc(50% - 600px) 0 calc(50% - 600px);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 15px;
  margin: 15px 0 calc(2rem + 100px) 0;
}
.classes_container .class {
  position: relative;
  width: 340px;
  height: 76px;
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.15s ease-in-out;
}
.classes_container .class__color_tag {
  position: absolute;
  left: 0;
  width: 7px;
  height: 100%;
}
.classes_container .class__name {
  position: absolute;
  width: 270px;
  height: 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  left: 30px;
  top: 15px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #222222;
}
.classes_container .class__assignment_count {
  position: absolute;
  left: 30px;
  bottom: 15px;
  font-size: 0.8rem;
  font-weight: 500;
  color: #777777;
}
.classes_container .class__arrow {
  position: absolute;
  transform: translate(0%, -50%);
  right: 20px;
  top: 50%;
  height: 22px;
}
.classes_container .class:hover {
  transform: scale(104%);
}
.classes_container .no_classes {
  margin: 30px 0 0 0;
  width: 600px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.classes_container .no_classes .blue_cat {
  width: 250px;
}
.classes_container .no_classes div {
  margin: 50px 0 0 0;
}
.classes_container .no_classes div h2 {
  font-size: 1.6rem;
  color: #222222;
  font-weight: 600;
  margin-bottom: 20px;
}
.classes_container .no_classes div span {
  color: #222222;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.1rem;
}
.classes_container .no_classes div span img {
  width: 25px;
  transform: translate(0, 20%);
}

.add_class {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  height: 75px;
  width: 75px;
  background: #006FBB;
  border-radius: 50%;
}
.add_class__line {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 7px;
  height: 40px;
  background: #ffffff;
  border-radius: 10px;
}
.add_class__line:nth-child(2) {
  width: 40px;
  height: 7px;
}

@media (max-width: 610px) {
  .main_title {
    display: none;
  }

  .classes_container {
    padding: 0;
    gap: 0px;
  }
  .classes_container a {
    width: 100%;
  }
  .classes_container a .class {
    width: 100%;
    height: 80px;
    box-shadow: none;
  }
  .classes_container a .class__color_tag {
    width: 13px;
  }
  .classes_container a .class__name {
    font-size: 1.35rem;
  }
  .classes_container a .class__assignment_count {
    font-size: 0.8rem;
  }
  .classes_container a .class__arrow {
    transition: margin 0.15s ease-in-out;
    right: 35px;
  }
  .classes_container a .class:hover {
    transform: none;
  }
  .classes_container a .class:hover .class__arrow {
    margin: 0 20px 0 0;
  }
  .classes_container .no_classes {
    margin: 10px 0 0 0;
    width: 250px;
    flex-direction: column-reverse;
    align-items: center;
  }
}
