* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    font-weight: 400;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.welcome {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    color: #222222;

    &__title {
        font-size: 5.5rem;
        font-weight: 500;
        left: 50%;
    }
}

.instruction_container {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%);
    width: 36rem;
}

.welcome__instructions {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    text-align: center;

    img {
        margin: 0 5px 0 5px;
        width: 35px;
        transform: translate(0, 20%);
    }
}

.bottom_wave {
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0;
    bottom: -1px;
    background-image: url("/content/Waves.svg");
    background-repeat: repeat-x;

    .okay_btn {
        position: absolute;
        right: 10%;
        bottom: 60px;
        width: 190px;
        height: 70px;
        line-height: 70px;
        border: none;
        border-radius: 999px;
        background-color: #ffffff;
        color: #222222;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
        transition: 0.3s all ease;

        &:hover {
            transform: scale(104%);
        }
    }
}


    @media (max-width: 1200px) {
        .welcome {
            &__title {
                font-size: 3.5rem;
            }
        }

        .instruction_container {
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translate(-50%);
            width: 50%;
        }

        .welcome__instructions {
            font-size: 1.3rem;
            line-height: 1.6rem;
        }

        .plus_icon {
            width: 30px;
        }

        .bottom_wave {
            position: absolute;
            width: 100%;
            height: 275px;
            left: 0;
            bottom: -1px;
            background-image: url("/content/Waves.svg");
            background-repeat: repeat-x;

            .okay_btn {
                position: absolute;
                right: 12%;
                bottom: 60px;
                width: 160px;
                height: 60px;
                line-height: 60px;
                border: none;
                border-radius: 999px;
                background-color: #ffffff;
                color: #222222;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 500;
                box-shadow: 0px 4.5px 4.5px rgba(0, 0, 0, 0.25);
            }
        }
    }

    @media (max-width: 680px) {
        .welcome {
            &__title {
                font-size: 3rem;
            }
        }

        .instruction_container {
            position: absolute;
            left: 50%;
            top: 35%;
            transform: translate(-50%);
            width: 90%;
        }

        .welcome__instructions {
            font-size: 1.1rem;
            line-height: 1.5rem;
        }

        .plus_icon {
            width: 30px;
        }

        .bottom_wave {
            position: absolute;
            width: 100%;
            height: 250px;
            left: 0;
            bottom: -1px;
            background-image: url("/content/waves.svg");
            background-repeat: repeat-x;

            .okay_btn {
                left: 50%;
                transform: translate(-50%);
                bottom: 40px;
                width: 140px;
                height: 50px;
                line-height: 50px;
                font-size: 1rem;
            }
        }
    }
